{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="../static/style/global.css" />
    <link rel="icon" href="../static/img/icon.png" />
{% endblock %}


{% block content %}

<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h1 class ="label">Oops!</h1>
            <p class ="label">We can't seem to find the page you're looking for!</p>
            <p>{{ error }}</p>
        </div>
    </div>
</div>

{% endblock %}