{% extends 'base.html' %}

<!doctype html>
<html>

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/style/global.css" />
<link rel="icon" href="../static/img/icon.png" />
{% endblock %}

<body>
    {% block content %}
    <!-- profile -->
    <div class="py-5 centered-content">
        <!-- booking -->
        <div class="bg-green rounded mt-3">
            <div class="p-5 border-2 border-dark">
                <div class="table-responsive text-white table-scroll">
                    <table class="table table-bordered text-white">
                        <thead>
                            <tr>
                                <th>Class Name</th>
                                <th>Class Image</th>
                                <th>Booking ID</th>
                                <th>Time and Date Booked</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                            <tr>
                                <td><h1>{{booking.name}}</h1></td>
                                <td>
                                    <img class="img-fluid"  src='{{booking.image}}' alt="event picture">
                                </td>
                                <td><h2>{{booking.id}}</h2></td>
                                <td><h2>{{booking.purchase_at}}</h2></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    {% endblock %}

</body>

</html>