{% extends 'base.html' %}

<!doctype html>
<html>

{% block head %}
<link rel="stylesheet" type="text/css" href="../static/style/global.css" />
<link rel="icon" href="../static/img/icon.png" />
{% endblock %}

<body>
    {% block content %}
    <div class="py-5 centered-content">
        <div class="text-center text-white">
            <br><br><br>
            <h1>Create a New Class</h1>
            <div class="bg-green rounded mt-3">
                <div class="p-5 border-2 border-dark">
                    <div class="table-responsive text-white table-scroll">
                        <table class="table table-bordered text-white">
                            <thead>
                                <tr>
                                    <th>Class Name</th>
                                    <th>Class Image</th>
                                    <th>Booking ID</th>
                                    <th>Time and Date Booked</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in bookings %}
                                <tr>
                                    <td>{{booking.name}}</td>
                                    <td><img src='{{booking.image}}' alt="event picture" width="150rem"
                                            style="max-height: 84rem;"></td>
                                    <td>{{booking.id}}</td>
                                    <td>{{booking.purchase_at}}</td>
                                    <td>{{booking.price}}</td>
                                    <td>{{booking.quantity}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    {% endblock %}

</body>

</html>