{% extends 'base.html' %}


<!doctype html>
<html>

<body>
{% block content %}
    <!-- landing page -->
    <div class="container centered-content my-5">
        <div class="row mt-5 mt-lg-0">
            <!-- Large Image -->
            <div class="col-lg-6 mt-5 mx-5 mt-lg-0 mx-lg-0">
                <img src="./static/img/logo.png" class="img-fluid" alt="Large Image">
            </div>
            <!-- Text Content -->
            <div class="col-lg-6 mt-4 mt-lg-0 text-wrap pt-5 mx-2  mx-lg-0" style="color: #fff; font-size: 18px;">
                <h1>Teach World Wide</h1>
                <p class="font-weight-bold">Welcome to TeachWorldWide, your ultimate platform for turning your knowledge
                    and expertise into a global classroom.
                    <br><br>Are you passionate about sharing your knowledge and abilities with eager learners from all
                    around the world?
                    <br><br>There is no need to look any further!
                    <br><br>Our cutting-edge online teaching platform allows you to create and host your own virtual
                    classrooms, connecting you with students from all over the world.
                </p>
            </div>
        </div>
    </div>

    <!-- search + details -->
    <div class="centered-content" id="search">
        <div class="row mx-5 p-5 text-white justify-content-center">
            <div class="row">
                <!-- filter -->
                <div class="col w-15 py-3 mx-3 mt-3 mt-lg-0 bg-green rounded">
                    <form class="col text-center">
                        <h2>Filter</h2>
                        <!-- Date Filter -->
                        <div class="col mt-0 pt-3 mt-lg-3">
                            <label for="dateFilter">Date:</label>
                            <select id="dateFilter" class="form-control">
                                <option value="hour">All</option>
                                <option value="today">Today</option>
                                <option value="week">This Week</option>
                                <option value="month">This Month</option>
                                <option value="year">This Year</option>
                            </select>
                        </div>
                        <!-- Type Filter -->
                        <div class="col mt-0 pt-3 mt-lg-3">
                            <label for="typeFilter">Type:</label>
                            <select id="typeFilter" class="form-control">
                                <option value="all">All</option>
                                <option value="live">Live</option>
                                <option value="recorded">Recorded</option>
                                <option value="workshop">Workshop</option>
                                <option value="lecture">Lecture</option>
                            </select>
                        </div>
                        <!-- Duration Filter -->
                        <div class="col mt-0 pt-3 mt-lg-3">
                            <label for="durationFilter">Duration:</label>
                            <select id="durationFilter" class="form-control">
                                <option value="all">All</option>
                                <option value="20-mnts">Under 20 minutes</option>
                                <option value="2-hours">20 to 60 minutes</option>
                                <option value="1h">Over 1 hour</option>
                            </select>
                        </div>
                        <!-- Cost Filter -->
                        <div class="col mt-0 pt-3 mt-lg-33">
                            <label for="costFilter">Max Cost:</label>
                            <input type="text" id="costFilter" class="form-control" placeholder="Enter cost">
                        </div>
                    </form>
                </div>
                
                <!-- search -->
                <div class="col py-3 mx-3 mt-3 mt-lg-0 bg-green rounded">
                    <div class="col text-center">
                        <h2>Search</h2>
                        {% if destinations|length <= 0 %}
                            No class Found
                        {% endif %}


                        {% for destination in destinations %}
                        	<div class="col mt-0 pt-3 mt-lg-3">
                            <a href="{{ url_for('main.selected', id=destination.id, _anchor='search') }}" class="btn btn-dark w-15 active">{{ destination.name }}</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            
            <!-- details -->
        {% if  selected_destination %}
        <div class="col py-3 mx-4 mt-3 mt-lg-0 bg-green rounded big-box">
                <div class="col text-center">
                    <h2>Details</h2>
                    <div class="col mt-0 pt-3 mt-lg-3">
                        <!-- Course Details -->
                        <div class="col mx-2 text-left">
                            <div class="card-body bg-dark rounded">
                                <h4>Course: {{ selected_destination.name }}</h4>
                                <p><strong>Status:</strong> {{ selected_destination.status }}</p>
                                <p><strong>Duration:</strong> {{ selected_destination.duration }}</p>
                                <p><strong>Type:</strong> {{ selected_destination.type }}</p>
                                <p><strong>Created:</strong> {{ selected_destination.date }}</p>
                                <p><strong>Cost:</strong> {{ selected_destination.ticket_cost }}</p>

                                <p>{{ selected_destination.description }}</p>

                                <p><strong>Time:</strong> {{ selected_destination.time}}</p>
                            </div>
                        </div>
                        <!-- Buttons -->
                        <div class="row mx-4">
                            <button class="btn btn-dark mt-4"><a href="{{ url_for('destination.show', id=selected_destination.id) }}" class="text-decoration-none">More Info</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}
</body>

</html>