{% extends 'base.html' %}


<!doctype html>
<html>

<body>

{% block header %}
    <!-- landing page -->
    <div class="container centered-content my-5">
        <div class="row mt-5 mt-lg-0">
            <!-- Large Image -->
            <div class="col-lg-6 mt-5 mx-5 mt-lg-0 mx-lg-0">
                <img src="./static/img/logo.png" class="img-fluid" alt="Large Image">
            </div>
            <!-- Text Content -->
            <div class="col-lg-6 mt-4 mt-lg-0 text-wrap pt-5 mx-2  mx-lg-0" style="color: #fff; font-size: 18px;">
                <h1>Teach World Wide</h1>
                <p class="font-weight-bold">Welcome to TeachWorldWide, your ultimate platform for turning your knowledge
                    and expertise into a global classroom.
                    <br><br>Are you passionate about sharing your knowledge and abilities with eager learners from all
                    around the world?
                    <br><br>There is no need to look any further!
                    <br><br>Our cutting-edge online teaching platform allows you to create and host your own virtual
                    classrooms, connecting you with students from all over the world.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- search + details -->
    <div class="centered-content" id="search">
        <div class="row mx-5 p-5 text-white justify-content-center">
            <div class="row">
                <!-- filter -->
                <div class="col w-15 py-3 mx-3 mt-3 mt-lg-0 bg-green rounded">
                    <div class="col text-center">
                        <h2>Filter</h2>
                        <!-- Date Filter -->
                        <div class="col mt-0 pt-3 mt-lg-3">
                            <label for="dateFilter">Date:</label>
                            <select id="dateFilter" class="form-control">
                                <option value="hour">Last Hour</option>
                                <option value="today">Today</option>
                                <option value="week">This Week</option>
                                <option value="month">This Month</option>
                                <option value="year">This Year</option>
                            </select>
                        </div>
                        <!-- Type Filter -->
                        <div class="col mt-0 pt-3 mt-lg-3">
                            <label for="typeFilter">Type:</label>
                            <select id="typeFilter" class="form-control">
                                <option value="all">All</option>
                                <option value="live">Live</option>
                                <option value="recorded">Recorded</option>
                                <option value="workshop">Workshop</option>
                                <option value="lecture">Lecture</option>
                            </select>
                        </div>
                        <!-- Duration Filter -->
                        <div class="col mt-0 pt-3 mt-lg-3">
                            <label for="durationFilter">Duration:</label>
                            <select id="durationFilter" class="form-control">
                                <option value="all">All</option>
                                <option value="20-mnts">Under 20 minutes</option>
                                <option value="2-hours">20 to 60 minutes</option>
                                <option value="1h">Over 1 hour</option>
                            </select>
                        </div>
                        <!-- Cost Filter -->
                        <div class="col mt-0 pt-3 mt-lg-33">
                            <label for="costFilter">Cost:</label>
                            <input type="range" id="costFilter" class="custom-range" min="0" max="100" step="1">
                            <p>Value: $<span id="costValue">0</span></p>
                        </div>
                    </div>
                </div>
                <!-- search -->
                <div class="col py-3 mx-3 mt-3 mt-lg-0 bg-green rounded">
                    <div class="col text-center">
                        <h2>Search</h2>
                        <div class="col mt-0 pt-3 mt-lg-3">
                            <button type="button" class="btn btn-dark w-15 active">Photography</button>
                        </div>
                        <div class="col mt-3">
                            <button type="button" class="btn btn-dark w-15">Story Telling</button>
                        </div>
                        <div class="col mt-3">
                            <button type="button" class="btn btn-dark w-15">Digital Marketing</button>
                        </div>
                        <div class="col mt-3">
                            <button type="button" class="btn btn-dark w-15">Language Learning</button>
                        </div>
                        <div class="col mt-3">
                            <button type="button" class="btn btn-dark w-15">Graphic Design</button>
                        </div>
                        <div class="col mt-3">
                            <button type="button" class="btn btn-dark w-15">Web Development</button>
                        </div>
                        <div class="col mt-3">
                            <button type="button" class="btn btn-dark w-15">Cooking Techniques</button>
                        </div>
                        <div class="col mt-3">
                            <button type="button" class="btn btn-dark w-15">Financial Literacy</button>
                        </div>
                        <div class="col mt-3">
                            <button type="button" class="btn btn-dark w-15">Song Writing</button>
                        </div>
                        <div class="col mt-3">
                            <button type="button" class="btn btn-dark w-15">Strenght Training</button>
                        </div>
                        <div class="col mt-3">
                            <button type="button" class="btn btn-dark w-15">Communication Skills</button>
                        </div>
                        <div class="col mt-3">
                            <button type="button" class="btn btn-dark w-15">Gardening</button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- details -->
            <div class="col py-3 mx-4 mt-3 mt-lg-0 bg-green rounded big-box">
                <div class="col text-center">
                    <h2>Details</h2>
                    <div class="col mt-0 pt-3 mt-lg-3">
                        <!-- Course Details -->
                        <div class="col mx-2 text-left">
                            <div class="card-body bg-dark rounded">
                                <h4>Course: Photography</h4>
                                <p><strong>Status:</strong> Open</p>
                                <p><strong>Duration:</strong> 60 minutes</p>
                                <p><strong>Type:</strong> Live</p>
                                <p><strong>Created:</strong> 17/08/2023</p>
                                <p><strong>Cost:</strong> Free</p>

                                <p>With our thorough online course, you may embark on an exciting adventure into the
                                    world of photography. This course, designed for both beginners and experts, will
                                    teach you the art and science of generating spectacular visual narratives.
                                    You'll learn the foundations of composition, lighting, and camera settings from
                                    seasoned photographers.</p>

                                <p><strong>Course Highlights:</strong></p>
                                <ul>
                                    <li>Recognising camera types and settings</li>
                                    <li>Investigating composition and framing methods</li>
                                    <li>Understanding natural and artificial lighting</li>
                                    <li>Navigating multiple photography genres</li>
                                    <li>Post-processing and picture editing basics</li>
                                    <li>Creating a personal photographic style</li>
                                    <li>Practical exercises and peer reviews</li>
                                    <li>Creating a compelling image portfolio</li>
                                </ul>

                                <p><strong>Time:</strong> Wednesday 1-3pm</p>
                            </div>
                        </div>
                        <!-- Buttons -->
                        <div class="row mx-4">
                            <button class="btn btn-dark mt-4"><a href="{{ url_for('destination.show', id=1) }}" class="text-decoration-none">More Info</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>

</html>