{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<body>


{% block content %}
     <!-- profile -->
    <div class="my-5 centered-content">
        <div class="col text-center text-white">
            <h1>Login | Register</h1>
            <div class="row justify-content-center">
                <!-- list of profile pages -->
                <!-- booking -->
                <div class="bg-green rounded mt-3">
                    <div class="p-5 border-2 border-dark">
                        <div class="table-responsive text-white table-scroll">
                            <form>

                            </form>
                            <form>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

</body>
</html>
