{% extends 'base.html' %}

{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

    <!-- profile -->
    <div class="my-5 centered-content">
        <div class="col text-center text-white">
            <h1>Bookings</h1>
            <div class="row justify-content-center">
                <!-- list of profile pages -->
                <div class="col mx-3 max-w-12 mt-3 bg-green rounded text-left profile-tab">
                    <div class="bg-green rounded">
                        <a class="nav-link btn-1 rounded w-10" href="#">
                            <i class="fa fa-user"></i>
                            Profile
                        </a>
                        <a class="nav-link btn-1 rounded w-10" href="#">
                            <i class="fa fa-gear"></i>
                            Settings
                        </a>
                        <a class="nav-link btn-1 rounded w-10" href="#">
                            <i class="fa fa-book"></i>
                            Bookings
                        </a>
                        <a class="nav-link btn-1 rounded w-10" href="#">
                            <i class="fa fa-info mx-1"></i>
                            Help
                        </a>
                        <a class="nav-link btn-1 rounded w-10" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-1 h-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                            </svg>
                            Sign Out
                        </a>
                    </div>
                </div>
                <!-- booking -->
                <div class="bg-green rounded mt-3">
                    <div class="p-5 border-2 border-dark">
                        <div class="table-responsive text-white table-scroll">
                            <table class="table table-bordered text-white">
                                <thead>
                                    <tr>
                                        <th>Class Name</th>
                                        <th>Class Image</th>
                                        <th>Booking ID</th>
                                        <th>Time and Date Booked</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Photography -->
                                    <tr>
                                        <td>Photography</td>
                                        <td><img src="./static/img/photography.jpeg" height="50" alt="Event Image"
                                                class="max-w-100px">
                                        </td>
                                        <td>2166</td>
                                        <td>2023-09-20 14:30:00</td>
                                    </tr>
                                    <!-- Story Telling	 -->
                                    <tr>
                                        <td>Story Telling</td>
                                        <td><img src="./static/img/storytelling.jpg" height="50" alt="Event Image"
                                                class="max-w-100px">
                                        </td>
                                        <td>7419</td>
                                        <td>2023-05-21 8:30:00</td>
                                    </tr>
                                    <!-- Digital Marketing -->
                                    <tr>
                                        <td>Digital Marketing</td>
                                        <td><img src="./static/img/digitalmarketing.jpg" height="50"
                                                alt="Event Image" class="max-w-100px">
                                        </td>
                                        <td>8886</td>
                                        <td>2023-05-21 5:15:05</td>
                                    </tr>
                                    <!-- Language Learning -->
                                    <tr>
                                        <td>Language Learning</td>
                                        <td><img src="./static/img/languagelearning.png" height="50"
                                                alt="Event Image" class="max-w-100px">
                                        </td>
                                        <td>3338</td>
                                        <td>2023-05-21 5:15:05</td>
                                    </tr>
                                    <!-- Graphic Design -->
                                    <tr>
                                        <td>Graphic Design</td>
                                        <td><img src="./static/img/graphicdesign.jpg" height="50" alt="Event Image"
                                                class="max-w-100px">
                                        </td>
                                        <td>4123</td>
                                        <td>2023-05-21 5:15:05</td>
                                    </tr>
                                    <!-- Web Development -->
                                    <tr>
                                        <td>Web Development</td>
                                        <td><img src="./static/img/webdevelopment.jpg" height="50" alt="Event Image"
                                                class="max-w-100px">
                                        </td>
                                        <td>4591</td>
                                        <td>2023-05-21 5:15:05</td>
                                    </tr>
                                    <!-- Cooking Techniques -->
                                    <tr>
                                        <td>Cooking Techniques</td>
                                        <td><img src="./static/img/cookingtechniques.png" height="50"
                                                alt="Event Image" class="max-w-100px">
                                        </td>
                                        <td>0365</td>
                                        <td>2023-05-21 5:15:05</td>
                                    </tr>
                                    <!-- Financial Literacy -->
                                    <tr>
                                        <td>Financial Literacy</td>
                                        <td><img src="./static/img/financialliteracy.png" height="50"
                                                alt="Event Image" class="max-w-100px">
                                        </td>
                                        <td>6922</td>
                                        <td>2023-05-21 5:15:05</td>
                                    </tr>
                                    <!-- Song Writing -->
                                    <tr>
                                        <td>Song Writing</td>
                                        <td><img src="./static/img/songwriting.jpg" height="50" alt="Event Image"
                                                class="max-w-100px">
                                        </td>
                                        <td>0175</td>
                                        <td>2023-05-21 5:15:05</td>
                                    </tr>
                                    <!-- Strenght Training -->
                                    <tr>
                                        <td>Strenght Training</td>
                                        <td><img src="./static/img/strengthtraining.jpg" height="50"
                                                alt="Event Image" class="max-w-100px">
                                        </td>
                                        <td>8640</td>
                                        <td>2023-05-21 5:15:05</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}
