{% extends 'base.html' %}
{% import "bootstrap4/form.html" as wtf %}
<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="../../static/style/global.css" />
    <link rel="icon" href="../../static/img/icon.png" />
    {% endblock %}
</head>

<body>
    {% block content %}
    <!-- create class -->
    <div class="centered-content my-5 py-5">
        <div class="col text-center text-white">
            <h1>Create a New Class</h1>
            <div class="row justify-content-center">
                <div class="create-class-form bg-green text-white mx-3  mt-3 ">
                    {{ wtf.render_form(form)}}
                </div>
            </div>
        </div>


    </div>
    {% endblock %}
</body>

</html>