{% extends 'base.html' %}
{% import "bootstrap4/form.html" as wtf %}
<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="../../static/style/global.css" />
    <link rel="icon" href="../../static/img/icon.png" />
    {% endblock %}
</head>
<body>
{% block content %}
    <!-- more detailed -->
    <div class="centered-content my-5 py-4" id="search">
        <div class="col text-center text-white">
            <h1>{{ event.name }}</h1>
            <div class="row mx-5 px-5 text-white justify-content-center mt-3">
                <!-- desc -->
                <div class="col py-3 mx-4 mt-3 mt-lg-0 bg-green rounded big-box">
                    <div class="col text-center">
                        <div class="col mt-0 pt-3 mt-lg-3">
                            <!-- Course Details -->
                            <div class="row">
                                <!-- Details -->
                                <div class="col mx-2 text-left">
                                    <div class="card-body bg-dark rounded">
                                        <h4>Course: {{ event.name }}</h4>
                                        <p><strong>Status:</strong> {{ event.status }} </p>
                                        <p><strong>Duration:</strong> {{ event.duration }} </p>
                                        <p><strong>Type:</strong> {{ event.type }} </p>
                                        <p><strong>Created:</strong> {{ event.date }} </p>
                                        <p><strong>Cost:</strong> {{ event.ticket_cost }} </p>

                                        <p>
                                            {{ event.description }}
                                        </p>
                                        <p><strong>Time:</strong> {{ event.time}}</p>
                                    </div>
                                </div>
                                <!-- Image -->
                                <div class="mx-2 mt-3 mt-lg-0">
                                    <img src="{{ event.image }}" alt="Image" class="img-fluid">
                                </div>
                            </div>
                            <!-- Buttons -->
                            <div class="row text-left mx-2">
                                {{ wtf.render_form(form2,"/destinations/book/{0}".format(event.id)) }}
                            </div>
                            <!-- Comments -->
                            <div class="col text-left mt-4">
                                <div class="">
                                    <h2>Comments</h2>

                                    <div class="my-4">
                                        {{ wtf.render_form(form,"/destinations/{0}/comment".format(event.id)) }}
                                    </div>

                                    {% for comment in event.comments %}
                                    <div class="comment rounded">
                                        <i class="fa fa-user"></i>
                                        <strong>{{ comment.user.name }}:</strong>

                                        <div class="mt-2">
                                            {{ comment.text }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>

</html>